#
# Copyright (c) 2025 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_ORIENTATION
	bool "Orientation module"
	depends on ADXL362 || ADXL367
	default n

if APP_ORIENTATION

config APP_ORIENTATION_THREAD_STACK_SIZE
	int "Thread stack size"
	default 1280

config APP_ORIENTATION_WATCHDOG_TIMEOUT_SECONDS
	int "Watchdog timeout"
	default 120
	help
	  Timeout in seconds for the orientation module watchdog.
	  The timeout given in this option covers both:
	    * Waiting for an incoming message in zbus_sub_wait_msg().
	    * Time spent processing the message, defined by
	      CONFIG_APP_ORIENTATION_MSG_PROCESSING_TIMEOUT_SECONDS.
	  Ensure that this value exceeds CONFIG_APP_ORIENTATION_MSG_PROCESSING_TIMEOUT_SECONDS.

config APP_ORIENTATION_MSG_PROCESSING_TIMEOUT_SECONDS
	int "Maximum message processing time"
	default 3
	help
	  Maximum time allowed for processing a single message in the module's state machine.
	  The value must be smaller than CONFIG_APP_ORIENTATION_WATCHDOG_TIMEOUT_SECONDS.

module = APP_ORIENTATION
module-str = ORIENTATION
source "subsys/logging/Kconfig.template.log_config"

endif # APP_ORIENTATION
